<!-- Main navigation bar container -->
<div class="navbar">
    <!-- Site title/logo with homepage link -->
    <a class="site-title" href="{{ site.url }}{{ site.baseurl}}/" style="font-weight: bold">
        {{ site.title }}
    </a>
 
    <!-- Navigation menu items aligned to the right -->
    <ul class="pull-right">
        <!-- Loop through each navbar item defined in site config -->
        {% for x in site.navbar %}
            <li class="pull-left">
                <!-- Determine the URL - either absolute or relative -->
                {% if x.absolute-link %}
                    {% assign x-url = x.absolute-link %}
                {% else %}
                    {% assign x-url = site.url | append: site.baseurl | append: "/" | append: x.link %}
                {% endif %}
                
                <!-- Navigation link -->
                <a href="{{ x-url }}">{{ x.name }}</a>
                
                <!-- Add separator (/) between menu items except for last one -->
                {% if forloop.last == false %}/{% endif %}
            </li>
        {% endfor %}
    </ul>
 
    <!-- Horizontal line below navigation -->
    <hr>
 </div>
 